<!--add component selectors here after declaring in appModule  -->
<div class ="container">  <!--bootstrap css commands-->
  <div class="row">
    <div class="col-xs-12">
      <h3>Im the AppComponent</h3>
      <hr>
      <app-servers></app-servers>
    </div>
  </div>
</div>
