<label>Server Name</label>
<input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)">

<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">



<!--property binding disabled html property-->
<!--event binding click event to onCreateServer() method-->
<button
  class = "btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>

<!--ngIf is a structural directive, evaluates a true or false condition-->
<p *ngIf="serverCreated">Server was created, server name is {{serverName}}</p>

<hr>
<!-- ngFor is a structural directive, loops through all elements in servers array and assigns to server variable-->
<app-server *ngFor="let server of servers"></app-server>
